script(src='bower_components/jquery/dist/jquery.min.js')
script(src='js/jquery-ui-1.10.3.custom.min.js')
script(src='js/jquery.ui.touch-punch.min.js')
script(src='js/bootstrap.min.js')
script(src='js/bootstrap-select.js')
script(src='js/bootstrap-switch.js')
script(src='js/flatui-checkbox.js')
script(src='js/flatui-radio.js')
script(src='js/jquery.tagsinput.js')
script(src='js/jquery.placeholder.js')
script(src='js/jquery.stacktable.js')
script(src='js/application.js')
script(src='js/main.js')