nav.navbar(role="navigation")
	.container-fluid
		.navbar-left
			.user-pic
				img.img-responsive(src='images/icons/png/Dude.png', alt='')
				a.navbar-text(href='javascript:;') BluceLee@gmail.com
		.navbar-right
			include ../mould-partials/language-dropdown