nav.navbar
	.container-fluid
		.navbar-left
			a(href='#', class='btn btn-primary navbar-btn', data-toggle="modal" data-target="#pac-add-Modal") 新增
			| &nbsp;
			a(href='#', class='btn btn-danger navbar-btn', data-toggle="modal" data-target="#pac-delete-Modal") 刪除
		.navbar-right
			form.navbar-form(role='search')
				.form-group
					input.form-control(type='text', placeholder='Search')    
				button.btn.btn-default(type='submit') Submit

//- include layouts/mould-partials/modal--test.jade
include ../mould-partials/modal--pac-manager--add.jade
include ../mould-partials/modal--pac-manager--delete--dialog.jade