<div class="panel panel-default">
   <div class="panel-heading">到期日通知</div>
   <div class="panel-body">
      <!--(data-ng-controller="DeadlineNotification")-->
      <div class="row row-table row-flush">
         <div class="col-xs-2 text-center">
            <div class="item-list__pic">
               <img src="app/img/dummy.png" />
            </div>
         </div>
         <div class="col-xs-10">
            <div class="item-list__text">
               <p>Fusce tellus. Pellentesque ipsum. Ut tempus purus at lorem. Morbi mattis felis at nunc. Vivamus ac urna vel leo pretium faucibus.</p>
               <p>Fusce consectetuer risus a nunc. Pellentesque ipsum. Aliquam erat volutpat. Fusce consectetuer risus a nunc. Maecenas lorem.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="panel panel-default">
   <div class="panel-heading">異常記錄</div>
   <div class="panel-body">
      <!--(data-ng-controller="DeadlineNotification")-->
      <div class="row row-table row-flush">
         <div class="col-xs-2 text-center">
            <div class="item-list__pic">
               <img src="app/img/dummy.png" />
            </div>
         </div>
         <div class="col-xs-10">
            <div class="item-list__text">
               <p>Curabitur bibendum justo non orci. Nunc tincidunt ante vitae massa. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.
                  Maecenas sollicitudin.</p>
               <p>Nullam eget nisl. Duis viverra diam non justo. Curabitur sagittis hendrerit ante. Mauris dictum facilisis augue. Vivamus ac urna vel leo pretium faucibus.</p>
            </div>
         </div>
      </div>
      <div class="row row-table row-flush">
         <div class="col-xs-2 text-center">
            <div class="item-list__pic">
               <img src="app/img/dummy.png" />
            </div>
         </div>
         <div class="col-xs-10">
            <div class="item-list__text">
               <p>Quisque tincidunt scelerisque libero. Aliquam in lorem sit amet leo accumsan lacinia. Sed vel lectus. Vestibulum facilisis auctor urna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
               <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Curabitur sagittis hendrerit ante. Morbi imperdiet, mauris ac auctor dictum,
                  nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Mauris metus.</p>
            </div>
         </div>
      </div>
      <div class="row row-table row-flush">
         <div class="col-xs-2 text-center">
            <div class="item-list__pic">
               <img src="app/img/dummy.png" />
            </div>
         </div>
         <div class="col-xs-10">
            <div class="item-list__text">
               <p>Mauris tincidunt sem sed arcu. Etiam quis quam. Nunc auctor. Fusce nibh. Pellentesque sapien.</p>
               <p>Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Morbi scelerisque luctus velit. Duis condimentum augue id magna semper rutrum. Morbi mattis felis at nunc. Curabitur bibendum justo non orci.</p>
            </div>
         </div>
      </div>
      <div class="row row-table row-flush">
         <div class="col-xs-2 text-center">
            <div class="item-list__pic">
               <img src="app/img/dummy.png" />
            </div>
         </div>
         <div class="col-xs-10">
            <div class="item-list__text">
               <p>Sed ac dolor sit amet purus malesuada congue. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Maecenas lorem. Curabitur ligula sapien, pulvinar a, vestibulum quis, facilisis vel, sapien. Duis sapien nunc, commodo et,
                  interdum suscipit, sollicitudin et, dolor.</p>
               <p>Etiam posuere quam ac quam. Vivamus ac urna vel leo pretium faucibus. Fusce eget urna. Morbi mattis felis at nunc. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit.</p>
            </div>
         </div>
      </div>
   </div>
</div>